<div id="<%= dom_id type_chambre %>">
  <p>
    <strong>Nom:</strong>
    <%= type_chambre.nom %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= type_chambre.description %>
  </p>

  <p>
    <strong>Prix par nuit:</strong>
    <%= type_chambre.prix_par_nuit %>
  </p>

  <p>
    <strong>Capacite:</strong>
    <%= type_chambre.capacite %>
  </p>

  <p>
    <strong>Nombre total:</strong>
    <%= type_chambre.nombre_total %>
  </p>

</div>
