<div id="<%= dom_id reservation %>">
  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Type chambre:</strong>
    <%= reservation.type_chambre_id %>
  </p>

  <p>
    <strong>Chambre:</strong>
    <%= reservation.chambre_id %>
  </p>

  <p>
    <strong>Date arrivee:</strong>
    <%= reservation.date_arrivee %>
  </p>

  <p>
    <strong>Date depart:</strong>
    <%= reservation.date_depart %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= reservation.statut %>
  </p>

  <p>
    <strong>Prix total:</strong>
    <%= reservation.prix_total %>
  </p>

  <p>
    <strong>Date creation:</strong>
    <%= reservation.date_creation %>
  </p>

</div>
