<div id="<%= dom_id chambre %>">
  <p>
    <strong>Numero:</strong>
    <%= chambre.numero %>
  </p>

  <p>
    <strong>Type chambre:</strong>
    <%= chambre.type_chambre_id %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= chambre.statut %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= chambre.description %>
  </p>

</div>
